@font-face {
    font-family:'LeagueGothic';
    src: url('./fonts/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-regular-webfont.woff') format('woff'); 
}


body {
    background-color:#1b1d26;
}

/*Header Styles*/
.header {
    margin:0px;
    padding:40px;
    background-image:url('./media/images/header.png');
    background-size:cover;
    background-position:center;
    border-bottom:1px solid #0b0d16;
}

.header h1 {
    margin:0px;
    font-family:'LeagueGothic';
    font-size:42pt;
    color:#f1f2d8;
}





/*Body styles*/

.navigation {
    width:80%;
    padding:40px;
    margin-left:auto;
    margin-right:auto;
}


.navitem {
    border-radius: 5px;
    display:inline-block;
    width:40%;
    height:300px;
    background-color:#425955;
    padding:10px;
    margin:25px;
    position:relative;
}

.navitem h1 {
    font-family:'LeagueGothic';
    font-size:24pt;
    color:#f1f2d8;
}

.navitem:hover {
    background-color:#778c7a;
    border-bottom:3px solid #dc3522;
}

.item-img {
    border-radius: 5px;
    background-color:#2a2c2b;
    width:100%;
    height:70%;
}

.item-text {
    position:absolute;
    bottom:0;
}


p {
    color:#bfbd9f;
}
